<section class="rate-card">
  {{#if msg}}
  <div class="msg">{{msg}}</div>
{{/if}}
  <div class="rate">
    <div class="rate-card-content">Student: <span>{{this.student.name}}</span></div>
    <div class="rate-card-content">Teacher: <span>{{this.teacher.name}}</span></div>
    <div class="rate-card-content">Subject: <span>{{this.subjects.name}}</span></div>
    <div class="rate-card-content">Exam: <span>{{this.exam}}</span></div>
    <div class="rate-card-content">Rate: <span>{{this.rate}}</span></div>
  </div>
  <div class="btns-rate-card">
    <a href="/teacher/{{this._id}}/edit"><button class="edit-rate-btn">Edit Rate</button></a>
  <a href="/teacher/{{this._id}}/delete"><button class="delete-rate-btn">Delete Rate</button></a>
  </div>
</section>
