<section id="rateCard">
  <div class="rate">
    {{this.student.name}}
    {{this.teacher.name}}
    {{this.subjects.name}}
    {{this.exam}}
    {{this.rate}}
  </div>
  <div class="btns-rateCard">
    <a href="/teacher/edit/{{this._id}}"><button>Edit Rate</button></a>
    <a href="/teacher/delete/{{this._id}}"><button>Delete Rate</button></a>
  </div>
</section>