<section id="home-auth">
  <img class="img" src="/images/strongSchools.png" alt="logo">
  <div class="container-home">
    <h1>PRINCIPAL ACESS - STRONG SCHOOLS SYSTEM</h1>
    <form class="auth" action="/auth/sign-in" method="POST">
      <label for="username">
        User:
        <input type="text" name="username" id="username">
      </label>
      <label for="password">
        Password:
        <input type="password" name="password" id="password">
      </label>
      <div class="roles">
      <input type="radio" name="role" value="Student" checked> Student<br>
      <input type="radio" name="role" value="Teacher"> checked> Teacher<br>
      </div>
    </form>
  </div>
</section>

<div id="container">
  <section id="students-card">
  {{!-- {{#each}} --}}
    <div>
      <a href="/student/{{this._id}}">
        <h3>{{this.name}}{{this.lastname}}</h3>
        <div>
          <figure><img src="{{this.avatarUrl}}" alt="photo {{this.name}}"></figure>
        </div>
      </a>
    </div>
  {{!-- {{/each}} --}}
  </section>

  <div id="container">
  <section id="teachers-card">
  {{!-- {{#each}} --}}
    <div>
      <a href="/teacher/{{this._id}}">
        <h3>{{this.name}}{{this.lastname}}</h3>
        <div>
          <figure><img src="{{this.avatarUrl}}" alt="photo {{this.name}}"></figure>
        </div>
      </a>
    </div>
  {{!-- {{/each}} --}}
  </section>
</div>
