<section id="create-rate">
  <form action="/createRate/{{teacher._id}}" method="post" id="create-rate-form">
    <label for="students">
      Estudant:
      <select name="students">
        {{#each student}}
        <option value="{{this.username}}">{{this.name}}</option>
        {{/each}}
      </select>
    </label>
    <label for="subject">
      Subject:
      <select name="subject">
        {{#each subject}}
        <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
      </select>
    </label>
    <label for="exam">
      Exam:
      <select name="exam">
        <option value="1stexam">1st Exam</option>
        <option value="2ndexam">2nd Exam</option>
        <option value="finalexam">Final Exam</option>
      </select>
    </label>
    <label for="rate">
      Rate:
      <input type="number" name="rate" id="rate">
    </label>
    <button class="send-btn" type="submit">send</button>
  </form>
</section>