
{{#if successMsg }}
  <div class="Success-message">{{ successMsg }}</div>
{{/if}}
<section id="create-rate">
  <figure class="design"><img src="/images/logoEducation.png"></figure>
  <form action="/createRate/{{teacher._id}}" method="post" id="create-rate-form">
    <label for="students">
      Student:
      <select name="student">
        {{#each student}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </label>
    <label for="subject">
      Subject:
      <select name="subject">
        {{#each subject}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </label>
    <label for="exam">
      Exam:
      <select name="exam">
        <option value="1stexam">1st Exam</option>
        <option value="2ndexam">2nd Exam</option>
        <option value="finalexam">Final Exam</option>
      </select>
    </label>
    <label for="rate">
      Rate:
      <input type="number"  min="0" max="10" name="rate" id="rate">
    </label>
    <button class="send-btn" type="submit">send</button>
  </form>
</section>