<section id="Edit-rate">
  <figure class="design"><img src="/images/logoEducation.png"></figure>
  <form action="/teacher/{{rate._id}}/edit" method="post" id="edit-rate-form">
    <label class="student" for="students">
      Student:
      <input type="text" name="student" id="student" value="{{this.student.name}}">
    </label>
    <label for="subject">
      Subject:
      <input type="text" name="subject" id="subject" value="{{this.subjects.name}}">      
    </label>
    <label for="exam">
      Exam:
      <input type="text" name="exam" id="exam" value="{{this.exam}}">      
    </label>
    <label for="rate">
      Rate:
      <input type="number" value='{{rate.rate}}' min="0" max="10" name="rate" id="rate">
    </label>
    <button class="send-btn" type="submit">Edit Rate</button>
  </form>
</section>
