<div id="container">
  <section id="students-card">
  {{!-- {{#each}} --}}
    <div>
      <a href="/student/{{this._id}}">
        <h3>{{this.name}}{{this.lastname}}</h3>
        <div>
          <figure><img src="{{this.avatarUrl}}" alt="photo {{this.name}}"></figure>
        </div>
      </a>
    </div>
  {{!-- {{/each}} --}}
  </section>

  <section id="news">
    <div class="video">
      <h2>News Strong Schools</h2>
      <iframe width="400" height="215" src="https://www.youtube.com/embed/Pg-95ZthZRo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
    </div>

    <div class="menu">
      <div class="title-menu">
        <h2>Menu</h2>
        <h4>2019</h4>
      </div>
      <table class="items-menu">
        <tr>
          <th> </th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
        </tr>
        <tr>
          <td class="hour">09:00</td>
          <td>fruits</td>
          <td>cereals</td>
          <td>fruits</td>
          <td>cereals</td>
          <td>fruits</td>
        </tr>
        <tr>
          <td class="hour">12:00</td>
          <td>chicken</td>
          <td>meat</td>
          <td>lasagna</td>
          <td>chicken pie</td>
          <td>hamburguer</td>
        </tr>
        <tr>
          <td class="hour">15:30</td>
          <td>breads</td>
          <td>cookies</td>
          <td>yogurt</td>
          <td>fruit's cake</td>
          <td>apple pie</td>
        </tr>
        <tr>
          <td class="hour">19:00</td>
          <td>hot dog</td>
          <td>curry</td>
          <td>fish</td>
          <td>pasta</td>
          <td>soups</td>
        </tr>
      </table>
    </div>


    <div class="activites">
      <div class="courses">
        <h3>Learn more online</h3>
          <ul class="online-courses">
            <li><a href="https://www.udemy.com">Udemy</a></li>
            <li><a href="https://pt.coursera.org/">Coursera</a></li>
            <li><a href="https://www.edx.org/">Edx</a></li>
            <li><a href="https://www.freecodecamp.org/">freecodecamp</a></li>
          </ul>
      </div>  
      <div class="events">
        <h3>Events</h3>
        <h5>ROOFTOP EDITION - MAY 5th</h5>
        <h5>= charity event =</h5>
        <figure>
          <img src="/images/partyinvite.jpg" width="200px" alt="party-invite">
        </figure>
      </div>  
    </div>
  </section>
</div>
